body,
html {
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.container {
    text-align: center;
    display: inline-block;
    border: 5px solid black;
    padding: 5px;
    border-radius: 5px;
}

table {
    margin: auto;
}

input {
    font-size: 30px;
    height: 55px;
    width: 380px;
    border: 2.5px solid;
}

button {
    font-size: 23px;
    background-color: pink;
    height: 100px;
    width: 95px;
    border-radius: 0.6rem;
}

button:hover {
    border-color: 1px grey;
    background-color: rgb(200, 170, 175);
    border-bottom: 3px black;
    border-right: 3px black;
}